connexion==2.14.2
Flask-Cors==4.0.0
swagger-ui-bundle==0.0.9
Flask-SQLAlchemy==3.1.1
cognitojwt==1.4.1
pysftp==0.2.9
requests==2.31.0
validators==0.22.0
boto3==1.28.62
flask-caching==2.1.0
gunicorn==21.2.0
PyMySQL==1.1.1
cryptography==41.0.7
flask-limiter==3.5.0
pytest==7.4.2
django-htmlmin==0.11.0
pylint==3.0.1
pytest-cov==4.1.0
pytemplate-reverse==0.0.3
protobuf==4.24.4
SQLAlchemy-serializer==1.4.1